.photosBlock {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 40px;
  margin: 0;
}

.photoBlock {
  display: flex;
  margin: 10px auto 25px;
  width: 100%;
}

.photoItem {
  overflow: hidden;
  text-align: center;
}

.item {
  display: inline-block;
  overflow: hidden;
  margin: 40px;

}

.link {
  cursor: pointer;
  display: block;
  width: 250px;
}

.link a {
  text-decoration: none;
}

.textLink {
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 18px;
  color: rgba(70, 69, 83, 1);
}

.textLink:hover {
  color: rgba(199, 199, 199, 1);
}

.item img {
  margin-bottom: 20px;
  display: block;
  width: 250px;
  top: 0px;
  left: 0px;
  height: 372px;
  overflow: hidden;
  cursor: pointer;
  
}

.item img:hover {
  width: 240px;
  height: 357px;
  text-align: center;
  padding: 7.5px 5px;
  transition: .3s;
  border-radius: 5%;
}