.header{
    margin: 0 auto 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.35em;
    line-height: 2.3;
    font-size: 16px;
    vertical-align: top;
}
@media (max-width: 768px) {
    .header{
        font-size: 14px;
    }
  }
  @media (max-width: 480px) {
    .header{
        font-size: 12px;
    }
  }