.content {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 60px 65px;
  margin: 0;
}

.title {
  text-align: center;
  letter-spacing: 0.35em;
  line-height: 1;
  font-family: "Didact Gothic";
  font-size: 36px;
  color: rgba(70, 69, 83, 1);
  margin: 20px auto;
}

.photos {
  display: flex;
  margin: 45px auto 20px;
  width: 100%;
}

.photoItem {
  overflow: hidden;
  text-align: center;
}

.photoItem img {
  display: inline;
  width: 380px;
  top: 0px;
  left: 0px;
  height: 565px;
  padding: 5px 5px 0;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover; 
}
