.textContent{
    margin:70px 22%;
    line-height: 1.4;
    text-align: center;
}

.heading{
    max-width: 100%;
    letter-spacing: 0.25em;
    font-family: 'Didact Gothic';
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5;
}

.content{

}

.contentParagr{
    font-family: 'Playfair Display';
    font-size: 24px !important;
}