.nav{
    margin-top: 20px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: .35em;
    font-family: Didact Gothic;
    text-align: center;
    text-transform: uppercase;

}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.item a{
    text-decoration: none;
    color: #333;
}

.item a.activeLink{
    color: rgba(199, 199, 199, 1);

}

.item a:hover{
    color: rgba(199, 199, 199, 1);
}

